body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f1f1f1;
    font-family: 'Courier New', Courier, monospace;
    /*gradiant background*/
    background: linear-gradient(45deg, #000, #fff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow: hidden;
}
#menu{
    background-color: #000;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
}
#menu ul li{
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
#menu ul li:hover:not(.glowing){
    background-color: #fff;
    color: #000;
}
#menu ul li a{
    text-decoration: none;
    color: inherit;
}
#menu ul li ul{
    display: none;
}
#menu ul li a{
    height:100%;
    width: 100%;
}
#nom{
    background-color: #000;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    position: fixed;
    width: 100%;
}
#nom, #menu{
    box-shadow: 0 0 10px #000;
    z-index: 1;
}
*{
    box-sizing: border-box;
}
#container, #centered{
    width :100%;
    /*height the size of the monitor*/
    height: 100vh;
    position: relative;
    padding :100px;
    overflow-y: scroll;
}
#centered #welcome{
    text-align: center;
}
#centered #welcome h1{
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}
#centered #welcome p{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}
#centered #welcome a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
}
#centered #welcome a:hover{
    background-color: #fff;
    color: #000;
}
#centered #welcome ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.glowing{
    animation: glowing 1500ms infinite;
    background:yellow;
    border-radius: 0.5vw;
}
#centered #welcome ul li{
    margin: 0 10px;
    display: inline-block;
    word-break: keep-all;
}
@keyframes glowing{
    0%{background-color: #f00; box-shadow: 0 0 3px #f00; color :yellow;}
    50%{background-color: #000; box-shadow: 0 0 40px #f00; color:red;}
    100%{background-color: #f00; box-shadow: 0 0 3px #f00; color:yellow;}
}

/*responsive*/
/*using vw or em as metrics is better*/
@media screen and (max-width: 600px){
    #menu{
        height: 50px;
    }
    #menu ul li{
        font-size: 15px;
    }
    #nom{
        font-size: 10px;
        margin-top: 50px;
        width:100%;
        font-weight: bold;
    }
    #centered #welcome h1{
        font-size: 30px;
    }
    #centered #welcome p{
        font-size: 15px;
    }
    #centered #welcome a{
        font-size: 15px;
        padding: 5px 10px;
    }
    .glowing{
        border-radius: 0.5em;
        width:30%;
    }
    #centered #welcome ul{
        /*scroll bar*/
        width :100%;
        display : block;
        overflow-x: scroll;
        overflow-y: visible;
        scrollbar-width: none;
    }
    #centered #welcome ul::-webkit-scrollbar{
        display: none;
    }
    #centered #welcome ul li{
        margin: 0 5px;
        display: inline-block;
        word-break: keep-all;
    }
    #mobileembeder{
        background : black;
        padding : 20px;
        overflow: visible;
        width: 300%;
    }
    #centered, #container{
        padding : 0;
        padding-top: 150px;
    }
    
}